@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

html {
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #1A2A33;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ingame {
    display: none;
}

#menu {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.logo img{
    width: 25%;
}

#menu h1 {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 1px;
    color: #A8BFC9;
    padding-bottom: 2.4rem;
}

#menu label {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.pick-player-cont {
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 2.4rem 3rem 2.4rem;
}

.pick-player {
    width: 100%;
    display: flex;
    background: #1A2A33;
    border-radius: 10px;
    padding: 0.9rem;
    margin-bottom: 1.7rem;
}

.pick-x svg, .pick-o svg {
    transform: scale(0.5);
}

.pick-x, .pick-o {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-player {
    background: #A8BFC9;
    border-radius: 10px;
    
}

.active-player path{
    fill: #1A2A33;
}

.start-play {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6rem;
}

.play-btn {
    border-radius: 15px;
    padding: 1.4rem 0 2.2rem 0;
    border: none;

    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
}

#vs-cpu {
    background: #F2B137;
    box-shadow: inset 0px -8px 0px #CC8B13;
}

#vs-player {
    background: #31C3BD;
    box-shadow: inset 0px -8px 0px #118C87;
}

#ingame {
    width: 100vw;
    padding: 2.4rem;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 6.4rem;
}

.logo-wrapper {
    width: 33vw;
}

.header .logo {
    justify-content: flex-start;
}

.header .logo img{
    height: fit-content;
}

.turn-wrapper {
    width: 33vw;
}

.turn {
    width: 9.6rem;
    display: flex;
    align-items: center;
    gap: 0.9rem;
    background: #1F3641;
    box-shadow: inset 0px -4px 0px #10212A;
    border-radius: 5px;
    padding: 0.9rem 1.5rem 1.3rem 1.5rem;
    margin: 0 auto;
}

.turn label {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
}

#turn-icon {
    width: 1.6rem;
}

.restart-wrapper {
    width: 33vw;
}

#restart {
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 5px;
    height: min-content;
    padding: 1rem 1.2rem;
    width: fit-content;
    margin-left: auto;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;
}

.tab {
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 10px;
    width: 100%;
    height: 26vw;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    align-items: center;
}

.statistics {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.statistic-tab {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
}

.statistic-tab label {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.875px;
    color: #1A2A33;
}

.statistic-tab span {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: 1.25px;
    color: #1A2A33;
}

.statistic-tab:nth-child(1) {
    background: #31C3BD;
}

.statistic-tab:nth-child(2) {
    background: #A8BFC9;
}

.statistic-tab:nth-child(3) {
    background: #F2B137;
}

/* Message box styles */

#game-over {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.game-over-box {
    width: 100vw;
    background: #1F3641;
    padding: 4rem 4.8rem 4.8rem 4.8rem;
}

.game-over-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-result {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    padding-bottom: 1.6rem;
}

.takes-round-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding-bottom: 2.4rem;
}

#main-message {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 1.5px;
    color: #F2B137;
}

#winner-mark {
    width: 2.4rem;
}

.buttons {
    display: flex;
    gap: 1.6rem;
}

.buttons button {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
    border: none;
    padding: 1.5rem 1.5rem 1.7rem 1.5rem;
}

#quit {
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
}

#next {
    background: #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
}

/* */

/* ---- Tab styles ---- */
.winnerX {
    transition: all 1s;
    background-color: #31C3BD;
    box-shadow: inset 0px -8px 0px #118C87;
}

.winnerO {
    transition: all 1s;
    background-color: #F2B137;
    box-shadow: inset 0px -8px 0px #CC8B13;
}
/* */